<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sporty Shoe e-commerce Portal</title>

<!-- Head Links -->
<div th:replace="includes/headLinks :: headlink"></div> 

<link rel="stylesheet" th:href = "@{/css/adminLoginForm.css}">
</head>

<body>
	
	<!-- Header/ Navbar -->
	<div th:replace="includes/header :: headers"></div>
	
	
	<section>
		<div class="banner">
			<div class="bannerContentLogin">
				<div th:replace="includes/adminLoginForm :: aLoginForm"></div>
        	</div>    
    	</div>
	</section>
	
	<!-- Footer -->
	<div th:replace="includes/footer :: footers"></div>
	
	<!-- Head Links -->
	<div th:replace="includes/tailLinks :: taillink"></div>
</body>

</html>