<span th:fragment="dashboard">
	    <div th:each="login : ${aLogin}">
		<div th:if="${uName} == ${login.username} ">
			<div th:if="${uPass} == ${login.password}">
				<div class="row">
					<div class="col-lg-10">
						<h5 style="text-align: center;">Product Details</h5>
						<div class="table-responsive">
							<table class="table table-dark table-hover">
								<thead>
									<tr>
										<th scope="col">Product ID</th>
										<th scope="col">Product Name</th>
										<th scope="col">Product Category</th>
										<th scope="col">Product Price</th>

									</tr>
								</thead>
								<tbody class="table-group-divider table-divider-color">
									<tr th:each="product : ${productsData}">
										<td scope="row"><span th:text="${product.pid}"></span></td>
										<td><span th:text="${product.name}"></span></td>
										<td><span th:text="${product.category}"></span></td>
										<td><i class="fa-solid fa-indian-rupee-sign"></i><span
											th:text="${product.price}"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<br><br><br><br><br><br>
					</div>
					<div class="col-lg-2 ">
						<br><br><br>
						<button type="button" class="shoeDashboardBtn" data-bs-toggle="modal" data-bs-target="#addModal"><span>Add</span></button> <br><br><br>
						<button type="button" class="shoeDashboardBtn" data-bs-toggle="modal" data-bs-target="#updateModal"><span>Update</span></button> <br><br><br>
						<button type="submit" class="shoeDashboardBtn" data-bs-toggle="modal" data-bs-target="#deleteModal"><span>Delete</span></button>
						
						<!-- Add Modal -->
						<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
								<div class="modal-content modalCont">
									<div class="modal-header">
										<h4 class="modal-title" id="addModalLabel">Add Your Product Details</h4>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body modalCont">
										<div th:replace="includes/addForm :: addform"></div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Update Modal -->
						<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
								<div class="modal-content modalCont">
									<div class="modal-header">
										<h4 class="modal-title" id="updateModalLabel">Update Your Product Details</h4>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body modalCont">
										<div th:replace="includes/updateForm :: updateform"></div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Delete Modal -->
						<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
								<div class="modal-content modalCont">
									<div class="modal-header">
										<h4 class="modal-title" id="deleteModalLabel">Delete Your Product Details</h4>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div th:replace="includes/deleteForm :: deleteform"></div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>	
			<div th:unless="${uPass}== ${login.password} ">
				<h1>Something went Wrong</h1>
			</div>	
		</div>
		<div th:unless="${uName}== ${login.username} ">
			<h1>Something went wrong</h1>
		</div>
	    </div>	
</span>