<span th:fragment="afooters">
<section>
  <footer class="text-center text-white customFooter" style="background-color: #061a1a;">
    <div class="container p-4 pb-0">
    <span th:each="login : ${aLogin}">
			<form action="adminDashboard" method="post">
				<input type="text" name="uname" th:value="${login.username}" hidden>
                <input type="text" name="upass" th:value="${login.password}" hidden>
                		
                <button class="btn btn-warning">Go to Dashboard</button>
			</form>
		</span>
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Sporty shoe e-commerce Portal</span>
        </p>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      designed and developed by Pawan Kumar
    </div>
  </footer>
</section>
</span>