<span th:fragment="password">
	<section>
		<div class="ShoeContent">
			<div class="container">
				<h5 style="text-align: center;">Update Admin Password</h5>
				<div style="text-align: center">
					<form action="adminUpdatePassword" method="get">
						<br>
						<label>Old Password</label><br>
						<input type="text" name="oldPassword" placeholder="old password">
						<br><br> 
						<button type="submit" class="shoeDashboardBtn"><span>Submit</span></button>
					</form>
				</div>
			</div>
         </div>    
	</section>
</span>