<span th:fragment="headers">
<section>
    <nav class="navbarCus">
        <div class="content">
            <div class="logo">
                <a href="index"><i class="fa-solid fa-shoe-prints fa-4x  iconLogo"></i></i></a>
            </div>
            <ul class="menuList">
                <div class="icon cancel-btn">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                
                <li>
                	<a href="adminLogin">
                		<button class="navLoginBtn">
    						<span>Admin Login</span><i class="navLoginBtn-I"></i>
						</button>
        			</a>
                </li>
            </ul>
            <div class="icon menu-btn">
                <i class="fa-solid fa-bars-staggered"></i>
            </div>
        </div>
    </nav>
</section>
</span>