<span th:fragment="headeradmin">
<section>
    <nav class="navbarCus">
        <div class="content">
            <div class="logo">
                <a href="index"><i class="fa-solid fa-shoe-prints fa-4x  iconLogo"></i></i></a>
            </div>
            <ul class="menuList">
                <div class="icon cancel-btn">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                
                <li>
                	<a href="purchaseReport">
                		<button class="navLoginBtn">
    						<span>Purchase Reports</span><i class="navLoginBtn-I"></i>
						</button>
        			</a>
                </li>
                
                <li>
                	<a href="userSignUp">
                		<button class="navLoginBtn">
    						<span>Sign Up Users</span><i class="navLoginBtn-I"></i>
						</button>
        			</a>
                </li>
                
                <li>
                	<a href="changePassword">
                		<button class="navLoginBtn">
    						<span>Change Password</span><i class="navLoginBtn-I"></i>
						</button>
        			</a>
                </li>
                
                <li>
                	<a href="adminLogin">
                		<button class="navLoginBtn">
    						<span>Logout</span><i class="navLoginBtn-I"></i>
						</button>
        			</a>
                </li>
                
                <!--  <li>
                	<form action="adminDashboard" method="post">
                			<input type="text" name="uname" value="admin@shoe" hidden>
                			<input type="text" name="upass" value="admin@123" hidden>
                		
                		<button class="navLoginBtn">
    						<span>Dashboard</span><i class="navLoginBtn-I"></i>
						</button>
        			</form>
                </li> -->
            </ul>
            <div class="icon menu-btn">
                <i class="fa-solid fa-bars-staggered"></i>
            </div>
        </div>
    </nav>
</section>
</span>