<span th:fragment="unpassword">
	<div th:each="login : ${aLogin}">
		<div th:if="${oldPassword} == ${login.password}">
			<section>
				<div class="ShoeContent">
					<div class="container">
						<h5 style="text-align: center;">Set New Password for Admin</h5>
						<div style="text-align: center">
							<form action="setNewPassword" method="post">
								<input type="text" name="aid" value="1" hidden><br>
								<input type="text" name="username" value="admin@shoe" hidden><br>
								<label>New Password</label><br> 
								<input type="text" name="password" placeholder="new password"> 
								<br><br>
								<button type="submit" class="shoeDashboardBtn">
									<span>Update</span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div th:unless="${oldPassword}== ${login.password} ">
			<h4>Old Password was Wrong! Try Again</h4>
		</div>
	</div>
</span>